node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variable files
.env
backend/.env
frontend/.env.local
frontend/.eslintrc.cjs
# Log files 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files (optional)
dist/
build/

# Cache and temporary files
*.tmp
*.cache
*.pid